body {
    font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 16px;
    letter-spacing: 0.8px;
}
header {
    height: 180px;
    margin-bottom: 20px;
}
header .logo {
    min-height: inherit;
    width: 11%;
    float: left;
    margin-right: 15px;
}
header .logo img {
    width: 125px;
}
header h1 {
    line-height: 4.5;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-6 {
    width: 47%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left {
    padding-right: 10px;
}
.col-md-6 .media-object {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.row  .media-body h5 {
    text-transform: uppercase;
    font-weight: 600;
}
.row .media-heading {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}